/* GLOBAL */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: #0d0d0d;
  color: white;
}

h1,
h2,
h3 {
  font-weight: 600;
}

/* Center container */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

/* NAVBAR */
nav {
  background: #111;
  padding: 15px 0;
  border-bottom: 1px solid #222;
}

nav .nav-title {
  font-size: 22px;
  font-weight: bold;
  margin-left: 20px;
}

/* MOVIE CARD */
.movie-card {
  background: #1b1b1b;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 18px rgba(255, 0, 0, 0.35);
}

.movie-card img {
  width: 100%;
  height: 330px;
  object-fit: cover;
}

.movie-info {
  padding: 15px;
}

.movie-info h3 {
  margin: 0 0 8px;
}

.movie-info p {
  opacity: 0.8;
}

/* Grid movie card */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

/* BUTTON*/
.btn {
  display: inline-block;
  padding: 10px 18px;
  background: #e50914;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #b30810;
}

/* FORM */
form {
  background: #161616;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
}

input,
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #333;
  background: #0f0f0f;
  color: white;
  font-size: 14px;
}

input:focus,
select:focus {
  border-color: #e50914;
  outline: none;
}

/* ADMIN TABLE */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: #161616;
  border-radius: 12px;
  overflow: hidden;
}

th,
td {
  padding: 14px;
  border-bottom: 1px solid #222;
}

th {
  background: #1f1f1f;
}

tr:hover {
  background: #1b1b1b;
}

/* Delete button */
.delete-btn {
  padding: 6px 12px;
  background: #b80000;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

.delete-btn:hover {
  background: #970000;
}

/* CONFIRMATION BOX */
.confirm-box {
  margin-top: 30px;
  background: #161616;
  padding: 30px;
  border-radius: 12px;
  line-height: 1.7;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.45);
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .movie-card img {
    height: 240px;
  }
}
